@import "_base.css";
@import "_utility.css";

.create-card {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding-top: 1rem;
}
.create-card__input {
  display: flex;
  justify-content: center;
  height: 110px;
}

.input {
  border-radius: 4px;
  border: 2px solid #808080c9;
}
.input:focus {
  box-shadow: 0px 0px 12px 4px var(--header-color);
}
.input::placeholder {
  color: gray;
}

.input:focus::placeholder {
  color: transparent;
}

.create-card__tag {
  height: 30px;
}

label {
  font-weight: 600;
}
.create-card__button {
  align-self: center;
}
.submit-button {
  text-transform: uppercase;
  height: 3rem;
  width: 10rem;
  border: none;
  border-radius: 5px;
  background-color: var(--ctaButton-color);
  margin-top: 1.5em;
}

.submit-button:active,
.submit-button:hover {
  background-color: #f3ce69;
  cursor: pointer;
}

/*To show what page is active*/
.navmenu_item:nth-of-type(3) {
  -webkit-filter: grayscale(1) invert(1);
}
