@import "/src/styles/_base.css";
@import url("/src/styles/_utility.css");

.quiz-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.1em solid black;
  border-radius: 2em;
  padding: 0.8em;
  position: relative;
  background-color: var(--card-color);
}

.answer-text {
  padding-bottom: 1.5em;
}

.hide-text {
  display: none;
}

.show-text {
  display: block;
}

.show-hide-answer {
  height: 3em;
  padding: 0 1.5em;
  text-transform: uppercase;
  background-color: #418b89b2;
  border-style: none;
  border-radius: 5px;
}

.show-hide-answer:active,
.show-hide-answer:hover {
  background-color: #eb6464;
  cursor: pointer;
}

.hideanswer {
  background-color: #ceb47d;
}

.card_part-tag {
  padding: 0.5em;
  display: inline;
  color: var(--header-color);
}

.quiz-card__bookmark {
  height: 5em;
  position: absolute;
  top: -1.1rem;
  right: -1rem;
}

.quiz-card__bookmark:hover,
.quiz-card__bookmark:active {
  background-color: #eb6464;
  cursor: pointer;
}

.quiz-card__bookmark--active {
  border: 1px solid aqua;
}

/*To show what page is active*/
.navmenu_item:nth-of-type(1) {
  -webkit-filter: grayscale(1) invert(1);
}
