@import "_base.css";
@import "_utility.css";

.profile-pic {
  height: 12rem;
  border-radius: 50%;
}

.pic-card {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.skills {
  display: inline;
  padding-right: 1rem;
}

.submit-button {
  text-transform: uppercase;
  height: 3rem;
  width: 10rem;
  border: none;
  border-radius: 5px;
  background-color: var(--ctaButton-color);
  align-self: center;
  margin-top: 1.5em;
}
