@import "_base.css";
@import "_utility.css";

.quiz-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.1em solid black;
  border-radius: 2em;
  padding: 0.8em;
  position: relative;
  background-color: var(--card-color);
}

.answer-text {
  padding-bottom: 1.5em;
}

.hide-text {
  display: none;
}

.show-text {
  display: block;
}

.show-hide-answer {
  height: 3em;
  padding: 0 1.5em;
  text-transform: uppercase;
  background-color: #418b89b2;
  border-style: none;
  border-radius: 5px;
}

.show-hide-answer:active,
.show-hide-answer:hover {
  background-color: var(--ctaButton-color);
  cursor: pointer;
}

.hideanswer {
  background-color: #ceb47d;
}

.card_part-tag {
  padding: 0.5em;
  display: inline;
  color: var(--header-color);
  font-size: 0.9rem;
}

.quiz-card__bookmark {
  height: 2.8em;
  position: absolute;
  top: -0.7rem;
  right: -8rem;
}

.quiz-card__bookmark:hover,
.quiz-card__bookmark:active {
  cursor: pointer;
}

.quiz-card__bookmark--active path {
  fill: black;
}
