.header {
  background-color: var(--header-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
  overflow-y: scroll;
}
